
.fc-daygrid-day-events {
    margin: 0 2px;  
  }
  .fc-daygrid-event {
    white-space: break-spaces!important;
    border-radius: 3px!important;
    font-size: .85em!important;
  }
  
  .fc .fc-col-header-cell-cushion {
    font-weight: normal;
  
    text-transform: uppercase;
    font-size: .7em;
  }
  .fc .fc-daygrid-day-number {
    font-weight: bold;
    font-size: .85em;
    padding: 1px!important;
  }
  .fc .fc-toolbar-title {
    font-size: 1.25em!important;
    letter-spacing: .15rem;
  }
  .fc .fc-toolbar-title:first-letter {
    text-transform: uppercase;
  }
  .fc .fc-button-group > .fc-today-button {
    text-transform: uppercase;
    font-size: .88em;
     }
  