
.fc-daygrid-day-events {
  margin: 0 2px;  
}
.fc-daygrid-event {
  white-space: break-spaces!important;
  border-radius: 0px!important;
  font-size: .85em!important;
}

.fc .fc-col-header-cell-cushion {
  font-weight: normal;

  text-transform: uppercase;
  font-size: .7em;
}
.fc .fc-daygrid-day-number {
  font-weight: bold;
  font-size: .85em;
  padding: 1px!important;
}
.fc .fc-toolbar-title {
  font-size: 1.25em!important;
  letter-spacing: .15rem;
}
.fc .fc-toolbar-title:first-letter {
  text-transform: uppercase;
}
.fc .fc-button-group > .fc-today-button {
  text-transform: uppercase;
  font-size: .88em;
}


.calendarEvent{
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
.calendarEvent:hover{
  opacity: 0.95;
  transition: 0.3s ease-in;
  background: var(--bg-color);
}
.calendarEvent .title {
  position: absolute;
  top: 2px;
  left: 5px;
  font-size: 75%;
  color: var(--text-color-light);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendarEvent .eventName {
  padding: 12px 4px 2px;
  color: var(--text-color-dark);
  font-size: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendarEvent .eventError {
  color: #d30606;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendarEvent .telephoneNumber {
  font-size: 85%;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}